* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    transition: all.2s linear;
    text-decoration: none;
    border: none;
}

.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

h1 {
    text-align: center;
    color: 100deg, orange;
}

.body .me div p {
    font-size: 20px;
    font-weight: bolder;
}

.body .me div a {
    text-decoration: none;
    padding: 15px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 17px;
    font-weight: bolder;
    transition: 1.1s ease-in-out;
    -webkit-transition: 1.1s ease-in-out;
    -moz-transition: 1.1s ease-in-out;
    -ms-transition: 1.1s ease-in-out;
    -o-transition: 1.1s ease-in-out;
}

.body .me div a:hover {
    background-color: green;
    color: whitesmoke;
}




.body header {
    /* position: fixed; */
    top: 0;
    width: 100%;
}

.body header .navbar .container-fluid .navbar-brand img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.body header .navbar .container-fluid div li a {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}

.body header .navbar .container-fluid div li a:hover {
    background-color: whitesmoke;
    transform: scale(.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(.1);
    -ms-transform: scale(.1);
    -o-transform: scale(.1);
}

/* me */

.body .me {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: linear-gradient(100deg, orange, aqua, black);
    background: -moz-linear-gradient(100deg, orange, aqua, black);
}

/* second */

.body .second {
    margin-top: 50px;
    height: calc(100vh - 50px);
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 6% 0;
    background: linear-gradient(to left, darkorange, rgb(172, 172, 255));
}


.body .second .profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.body .second .profile img {
    width: 150px;
    width: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 5%;
}

.body .second .description {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body .second .description p {
    margin-bottom: 30px;
    color: #2c2b2b;
    font-size: 19px;
}




@media screen  and (max-width:697px) {
    .body .second {
        margin-top: 50px;
        height: calc(100vh - 50px);
        padding: 0 8%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        background: linear-gradient(to left, rgb(49, 216, 132), rgb(172, 172, 255), black);
    }

    .body .second .profile {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .body .second .description {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .body .second .description p {
        margin-bottom: 30px;
        color: #252424;
        font-size: 13px;
        font-weight: bolder;
    }
    
    
    
}
/* fird */

.body .fird {
    background: linear-gradient(to left, aqua, purple);

    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* background: linear-gradient(360deg, gray, rgb(114, 101, 101), black); */
}


/* Grille principale */
.grid-gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

/* Élément de la grille */
.grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.3s ease;
}

/* Effet de zoom au survol */
.grid-item:hover img {
    transform: scale(1.1);
}

/* Overlay pour la description */
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Afficher l'overlay au survol */
.grid-item:hover .overlay {
    opacity: 1;
}


/* Pour les tablettes (petites tailles) */
@media (max-width: 768px) {
    .grid-gallery {
        grid-template-columns: repeat(4, 2fr);
    }
    /* .grid-item {
        height: 100px;
    } */
    .grid-item img {
        object-fit: cover;
    }
}

/* Pour les mobiles (très petites tailles) */
@media (max-width: 480px) {
    .grid-gallery {
        grid-template-columns: repeat(2, 2fr);
    }
}




.body .projects{
    background: linear-gradient(to left, rgb(204, 147, 204), rgb(130, 236, 236));
}


.body .projects .list_projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

.body .projects .list_projects .project {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%;
    padding: 10px;
}

.body .projects .list_projects .project ion-icon {
    font-optical-sizing: 25px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: darkorange; */
    color: #eb2c9b;
    border-radius: 50%;
    margin-bottom: 10px;
}

.body .projects .list_projects .project h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.body .projects .list_projects .project p {
    font-size: 12px;
}

.body .projects .list_projects .project a {
    margin-top: 10px;
    color: darkorange;
    padding: 5px;
    border: 1px solid darkorange;
    font-size: 12px;
    text-decoration: none;
    transition: 1s ease-in-out;
    background: linear-gradient(130deg, green, yellow, black);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

.body .projects .list_projects .project a:hover {
    background: linear-gradient(100deg, orange, royalblue, black);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


#contact {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 12%;
}

.localisation_contact_div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 100px 0;
    height: 80vh;
}


.localisation{
    width: 40%;
    height: 100%;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 2);
    margin: 0 2%;
}

.localisation iframe{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    /* margin: 5% 0; */

}


.localisation_contact_div .form_contact {
    width: 40%;
    height: 100%;
    box-shadow: 0 0 10px rgb(0, 0, 0, 2);
    padding: 15px;
    margin: 0 2%;
    border-radius: 6px;

}

.localisation_contact_div h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.localisation_contact_div .form_contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;


}

.form_contact form input,
textarea {
    border: 3px solid #ccc;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    outline: 0;
    border-radius: 6px;
    font-size: 15px;
}

.form_contact form button {
    margin-bottom: 0;
    background-color: darkorange;
    color: #fff;
    border: 0;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 1.2s ease;
    -webkit-transition: 1.2s ease;
    -moz-transition: 1.2s ease;
    -ms-transition: 1.2s ease;
    -o-transition: 1.2s ease;
}

.form_contact form button:hover {
    background: linear-gradient(100deg, orange, rgb(196, 156, 83), rgb(95, 65, 8));
}

@media screen  and (max-width:697px) {
    
    .localisation_contact_div .form_contact {
        width: 100%;
        height: 100%;
        box-shadow: 0 0 10px rgb(0, 0, 0, 2);
        padding: 15px;
        margin: 0 2%;
        border-radius: 6px;
    
    }
/* here */
    .body .projects .list_projects {
        display: block;
        margin: 2%;
    }

    .localisation{
        width: 100%;
        height: 100%;
        padding: 15px;
        border-radius: 6px;
        box-shadow: 0 0 10px rgb(0, 0, 0, 2);
        margin: 0 2%;
    }
}

.body #bas {
    height: 20vh;
    text-align: center;
    margin-top: 2%;
}

.body #bas a ion-icon {
    color: orange;
    font-size: 5em;
    font-weight: bolder;
}

.body #bas a ion-icon:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.body .motivation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0;

    background: linear-gradient(310deg, rgb(211, 122, 122), rgb(192, 160, 101), darkorange, rgb(112, 101, 101), whitesmoke);
}

.body .motivation ol, .body .motivation ul {
    list-style: none;

}

.body .motivation ol li span {
    font-size: 19px;
    font-weight: bold;

}
.body #bas a .facebook:hover {
    color: rgb(34, 34, 235);

}

.body #bas a .github:hover {
    color: black;
}

.body #bas a .whatsapp:hover {
    color: rgb(18, 218, 18);
}



footer {
    background-color: #999;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    height: 70px;
}

footer span {
    font-size: 18px;
    font-weight: bolder;
    color: darkorange;
}

footer a {
    color: darkorchid;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;

}